header {
    background: rgb(49 48 48);
    background-size: contain;
    height: 150px;
    padding: 1px;
}
.header-nav {
	margin: 0 50px 10px 0;
    list-style: none;
}
.header-nav a {
	color: #ececec;
	padding: 24px 20px 0 20px;
	height: 46px;
	text-align: center;
    float: right;
    text-decoration: none;
    margin: 0 0 40px 30px;
    position: relative;
    bottom: 40px;
}
body {
   margin: 0;
   padding: 0;
}
.header-nav a:visited {
    color: white;
}
.active {
    background: rgb(255 63 64);
    padding: 0 3px 0 3px;
    height: 42px;
    border: none;
}
.title {
    position: relative;
    top: 20px;
    margin-left: 100px;
    color: rgb(255 63 64);
}
.header-nav a:hover {
    background: rgb(255 63 64);
    border: 1px solid black;
    margin-left: 28px;
    padding: 24px 20px 0 20px;
}
.active-li > a:hover  {
    background: #000000;
    border: 1px solid rgb(255 63 64);
}
.player {
    background: rgb(196 192 177);
    width: 551px;
    height: 356px;
    position: absolute;
    left: 864px;
    top: 221px;
    z-index: 164;
}
.player-icon {
    width: 70px;
    height: 69px;
    z-index: 165;
    position: absolute;
    top: 135px;
    left: 230px;
}
.organisation-text {
    display: inline-block;
    margin-left: 100px; 
}